.toolbar{
  --background: darkorange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#F4F6F7 ;
  text-align: center;
}

.back{
  --background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1907649-fundo-de-textura-de-papel-branco-gratis-foto.jpg) ;

}

.back-button{
  margin-left: 1vh;
}


.fonte{
  font-style: italic;
  font-family:cursive;
  font-size: medium;
  color: darkorange;

}

.card{
  box-shadow: none;
  border-style: solid;
  --background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1907649-fundo-de-textura-de-papel-branco-gratis-foto.jpg) ;
  border-color: darkorange;
  border-width: 2px;
}

.bttn{
  height: 5vh;
  width:  70%;
  --background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1907649-fundo-de-textura-de-papel-branco-gratis-foto.jpg) ;
  border-style:solid;
  border-color: darkorange;
  border-width: 2px;
  text-align: center;
  box-shadow: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 3vh;
}

#center{
  display: flex;
  justify-content: center;
}
