<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-icon name="chevron-back-outline" slot="start" class="back-button" [routerLink]="['/home']"></ion-icon>
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
  <ion-card class="card">
    <ion-item>
      <ion-input label="Nome : " labelPlacement="fixed" placeholder="insira seu nome" class="fonte"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone : " labelPlacement="fixed" placeholder="insira seu Telefone" class="fonte"></ion-input>
    </ion-item>
  </ion-card>
</ion-content>
