<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-icon name="chevron-back-outline" slot="start" class="back-button" [routerLink]="['/home']"></ion-icon>
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
  <ion-card class="card">
    <ion-item>
      <ion-input label="Nome : " labelPlacement="fixed" placeholder="insira seu Nome" class="fonte"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone : " labelPlacement="fixed" placeholder="insira seu Telefone" class="fonte"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="E-mail : " labelPlacement="fixed" placeholder="insira seu E-mail" class="fonte"></ion-input>
    </ion-item>
  </ion-card>

  <div id="center">
    <ion-card class="bttn">
      <ion-card-title class="fonte">ENTRAR</ion-card-title>
    </ion-card>
  </div>

</ion-content>

<!-- Desenvolvimento -->
