.toolbar{
  --background: darkorange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#F4F6F7 ;
  text-align: center;
}
.back{
  --background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1907649-fundo-de-textura-de-papel-branco-gratis-foto.jpg) ;

}

.back-button{
  margin-left: 1vh;
}
