<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title> PAGAMENTOS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">

  <div id="center">
    <ion-card class="card" [routerLink]= "['/cadastro']">
      <ion-card-title class="fonte">CADASTRAR CLIENTE</ion-card-title>
    </ion-card>
  </div>

  <div id="center">
    <ion-card class="card" [routerLink]= "['/clientes']">
      <ion-card-title class="fonte">MEUS CLIENTES</ion-card-title>
    </ion-card>
  </div>

</ion-content>

<!--Des-->
