#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;

}
.back{
  --background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1907649-fundo-de-textura-de-papel-branco-gratis-foto.jpg) ;
}
.toolbar{
  --background: darkorange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#F4F6F7 ;
  text-align: center;
}

.card{
  height: 5vh;
  width:  70%;
  --background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/1907649-fundo-de-textura-de-papel-branco-gratis-foto.jpg) ;
  border-style:solid;
  border-color: darkorange;
  border-width: 2px;
  text-align: center;
  box-shadow: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 3vh;
}

.fonte{
  font-style: italic;
  font-family:cursive;
  font-size: medium;
  color: darkorange;
  font-weight: bold;
}

#center{
  display: flex;
  justify-content: center;
}
